* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding: 0;
    border: 0;
}
/* tag styles */
header{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgb(34, 34, 231);
    color: white;
    height: 10vh;
    font-size: 25px;


}
a{
    text-decoration: none;
    color: white;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vh;
    
    
}
li{
    margin-bottom: 3vh;
}
h1{
    padding: 1px;
    margin: auto;
    border: 100px;
    font-size: 2.5rem;
    color: white;
}
h2{
    color: rgb(34, 34, 231);
    margin: 0%;
    font-size: 60px;
}
h3{
    margin: 1%;

}
img{
    border-radius: 5%;
}
hr{
    color: gray
}
p{
    margin: 10px;

}
footer{
    background-color: rgb(34, 34, 231);
    margin-top: 0.125%;
    color: rgb(255, 255, 255);
    padding: 1%;
}
/* classes */
/* navbar */

.computer{
    list-style: none;
    display: flex;
}

.vertical{
    display:none;
}

.page_selected{
    padding: 3%;
    padding-bottom: 3vh;
    background-color: rgb(24, 24, 172);
    border-radius: 10% 10% 0% 0%;
}
.btnatividade{
    text-decoration: none;
    background-color: rgb(34, 34, 231);
    position: relative;
    margin-bottom: 1vh;
}

.atividade{
    display: block;
    cursor: pointer;
    color: white;
    font-size: 7vh;

}

/* main */
.grand-img{

    border-radius: 5%;
    width: 90%;
    height: 650px;
    object-fit: cover;
    border-color: rgb(201, 201, 201);
    margin-top:0%;
    margin-bottom: 2.5%;

}
.information{
    padding: 1%;
    border: 1%;
    margin: 5%;
    border-left: 1%;
    border-right: 1%;
    font-size: 20px;
    background-color: rgb(247, 246, 246);
    border-radius: 5%;
    
}

.groups{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;

}
.works{
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(247, 246, 246);
    padding: 0%;
    margin: 2%;
    border-radius: 5%;
}
.image_at{
    margin: 2.5%;
    width: 95%;
    height: 300px;
    margin-bottom: 5%;
    object-fit: cover;

}

.btn{
    width: 5vw;
    color: black;
    background-color: rgb(228, 227, 227);
    padding: 42%;
    padding-bottom: 2%;
    padding-top: 2%;
    border-radius: 10px;

}

.btn:hover{
    color: rgb(211, 211, 211);
    background-color: rgb(117, 117, 117);
}

@media (max-width: 1200px) and (min-width: 350px) {
    /* navbar */
    
    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(34, 34, 231);
        color: white;
        height: 10vh;
        font-size: 25px;
    }
    h1{
        position: static
        
    }

    li{
        margin-top: 30px;
        padding: 20px;
        font-size: 30px;
        width: 95vw;
        background-color: rgb(33, 33, 219);

    }
    .computer{
        display: none;
    }

    .btnmenu{
        background-color: rgb(34, 34, 231);
        position: relative;
        margin-bottom: 2vh;
        
    }

    .menu{
        display: block;
        cursor: pointer;
    }
    
    .menu div{
        position: relative;
        height: 0.75vh;
        margin: 0.75vh;
        width: 7vw;
        background-color: white;
        
    }

    .vertical{
        list-style: none;
        position: absolute;
        display: none;
        justify-content: space-around;
        margin-top: 110.31vh;
        width: 100vw;
        height: 120vh;
        flex-direction: column;
        background-color: rgb(34, 34, 231);
        align-items: center;
        overflow: hidden;
    }

    .vertical li:hover{
        background-color: rgb(30, 30, 197);
        
    }
    .vertical a{
        font-size: 8vh;
        width: 100vw;
    }

    .ativo{
        list-style: none;
        position: absolute;
        display: block;
        justify-content: space-around;
        margin-top: 110.25vh;
        width: 100dvw;
        height: 100vh;
        flex-direction: column;
        background-color: rgb(34, 34, 231);
        align-items: center;
        overflow: hidden;
    }

    /* main */
    .works{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(247, 246, 246);
        padding: 0%;
        margin: 2%;
        border-radius: 5%;
    }

    .image_at{
        margin: 2.5%;
        width: 95%;
        height: 100%;
        margin-bottom: 5%;
        object-fit: cover;
    }
   .saral{
        display: grid;
        grid-template-areas:
        "box1 box1"
        "box2 box2"
        "box3 box3"
        "box4 box4"
        "box5 box5";
        grid-template-columns: 1fr 3fr;
        gap: 1vh;
        margin: 8vh;
    }
    .saral .box1.box2.box3.box4.box5{
        border-radius: 25px;
    }
    .saral .box1 .box2 .box3 .box4 .box5 p {
        border-radius: 25px;
    }
}

