* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding: 0;
    border: 0;
}


header{
    color: rgb(255, 255, 255);
    padding: 10px;
    border-width: 100%;
    border-right: 200px;
    margin-top: auto;
    background-color: rgb(34, 34, 231);
    margin-bottom: 0.125%;
}
footer{
    background-color: rgb(34, 34, 231);
    margin-top: 0.125%;
    color: rgb(255, 255, 255);
    padding: 1%;
}
h1{
    padding: 1px;
    margin: auto;
    border: 10px;
    font-size: 50px;
    color: white;
}
h2{
    color: rgb(34, 34, 231);
    margin: 0%;
    font-size: 60px;
}
h3{
    margin: 1%;

}
a{
    text-decoration: none;
}
img{
    border-radius: 5%;
}
hr{
    color: gray
}
p{
    margin: auto;
}
.grand-img{

    border-radius: 5%;
    width: 90%;
    height: 650px;
    object-fit: cover;
    border-color: rgb(201, 201, 201);
    margin-top:0%;
    margin-bottom: 2.5%;

}
.information{
    padding: 1%;
    border: 1%;
    margin: 5%;
    border-left: 1%;
    border-right: 1%;
    font-size: 20px;
    background-color: rgb(247, 246, 246);
    border-radius: 5%;
    
}

.groups{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;

}
.works{
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(247, 246, 246);
    padding: 0%;
    margin: 2%;
    border-radius: 5%;
}
.resume{
    margin: 3%;
    margin-bottom: 5%;
}
.image_at{
    margin: 2.5%;
    width: 95%;
    margin-bottom: 5%;
}
.btn{
    color: black;
    background-color: rgb(228, 227, 227);
    padding: 41%;
    padding-bottom: 2%;
    padding-top: 2%;
    border-radius: 10px;

}
.btn:hover{
    color: rgb(211, 211, 211);
    background-color: rgb(117, 117, 117);
}

